In [3]:
#import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#import the auto data set
feature_names=['mpg','cylinders','displacement','horsepower',
               'weight','acceleration','model year','origin','car name']
df_auto_dataset=pd.read_csv('auto_data_mpg.csv',header=None,names=feature_names)

In [5]:
#view top 5
df_auto_dataset.head()
#remove the 1st row that has Column1 as mpg value
df_auto_dataset=df_auto_dataset[df_auto_dataset['mpg']!='Column1']
#check data again
df_auto_dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
1,18,8,307,130,3504,12,70,1,chevrolet chevelle malibu
2,15,8,350,165,3693,11.5,70,1,buick skylark 320
3,18,8,318,150,3436,11,70,1,plymouth satellite
4,16,8,304,150,3433,12,70,1,amc rebel sst
5,17,8,302,140,3449,10.5,70,1,ford torino

In [6]:
#write user defined function for origin
def origin(num):
    if num==1:
        return 'USA'
    elif num==2:
        return 'Europe'
    else:
        return 'Asia'
    
#use apply method
df_auto_dataset['origin']=df_auto_dataset['origin'].apply(origin)

In [ ]:
#view first 30 data points after applying above function
df_auto_dataset.head(30)

In [ ]:
#draw the pair plot using sns for mpg,weight,origin and ...
sns.pairplot(df_auto_dataset[['mpg','weight','origin']],hue='origin')