In [8]:
#import necessary Libraries
import numpy as np
import pandas as pd

In [15]:
#create dataframe from dict of series for summer olympics: 1996 to 2012
olympic_series_participation = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
olympic_series_country=pd.Series(['London','Beijing','Athens','Sydney','Atlanta'], index=[2012,2008,2004,2000,1996])
df_olympic_series =pd.DataFrame({'No. of participating Countries':olympic_series_participation,
                                 'Host Cities':olympic_series_country})

In [18]:
#display content of the series and dataset
print(olympic_series_participation)
print(olympic_series_country)
print(df_olympic_series)

2012    205
2008    204
2004    201
2000    200
1996    197
dtype: int64
2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
dtype: object
      No. of participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [29]:

#view dataframe describe
df_olympic_series.describe()

       No. of participating Countries
count                        5.000000
mean                       201.400000
std                          3.209361
min                        197.000000
25%                        200.000000
50%                        201.000000
75%                        204.000000
max                        205.000000

In [21]:
#view top 2 records
df_olympic_series.head(2)

      No. of participating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [22]:
#view last 3 records
df_olympic_series.tail(3)

      No. of participating Countries Host Cities
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [24]:
#view indexes of data set
df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [36]:
#view columns of the dataset
df_olympic_series.columns

Index(['No. of participating Countries', 'Host Cities'], dtype='object')

In [26]:
print("Select Data")

Select Data

In [40]:
#select data from Host Countries
df_olympic_series['Host Cities']

2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
Name: Host Cities, dtype: object

In [42]:
#another data selection No. of participating Countries
df_olympic_series['No. of participating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of participating Countries, dtype: int64

In [32]:
#select label-location based access by label

In [33]:
#Integer-location based indexing by position

In [34]:
#integer-location based data selection by index value

In [ ]:
#select data element byu condition where number of partipated countries are more than 200