In [10]:
#import the required libraries
import pandas as pd

In [12]:
#import the advertising dataset
df_adv_data=pd.read_csv('Advertising Budget and Sales.csv')

In [13]:
#view top 5 records
df_adv_data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [23]:
#delete 1st column in the dataset
del(df_adv_data['Unnamed: 0'])
#view the dataset size
df_adv_data.size

800

In [24]:
#view the shape of the dataset
df_adv_data.shape

(200, 4)

In [25]:
#view the columns of the dataset
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [28]:
#create a feature object from the columns
X_feature=df_adv_data[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [33]:
#view feature object
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0             230.1                 37.8                     69.2
1              44.5                 39.3                     45.1
2              17.2                 45.9                     69.3
3             151.5                 41.3                     58.5
4             180.8                 10.8                     58.4

In [30]:
#create target object from sales column which is a response in the dataset
Y_target=df_adv_data[['Sales ($)']]

In [32]:
#view the target objecy
Y_target.head()

   Sales ($)
0       22.1
1       10.4
2        9.3
3       18.5
4       12.9

In [42]:
#view the shape of the objects
print(X_feature.shape)
print(Y_target.shape)

(200, 3)
(200, 1)

In [44]:
#split test and training data
#by default 75% training data and 25% testing data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X_feature,Y_target)

In [49]:
#view shape of train and test data sets for both feature and response
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

In [48]:
#linear regression model
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
#print intercept and coefficients
print('The intercept %.2f ' % linreg.intercept_)
print(linreg.coef_)

The intercept 2.57
[[ 0.047374    0.19348496 -0.00155166]]

In [60]:
#prediction
Y_predict= linreg.predict(X_test)
Y_predict

array([[15.07634754],
       [ 4.14951115],
       [11.95817231],
       [19.82007336],
       [10.47821962],
       [12.03792993],
       [ 4.16318867],
       [12.21139152],
       [18.80193243],
       [10.65878271],
       [16.31227629],
       [14.76616577],
       [18.0787068 ],
       [12.38377457],
       [13.62120292],
       [21.29173661],
       [12.15753202],
       [21.4054215 ],
       [15.21524545],
       [10.01384732],
       [ 8.64754802],
       [ 8.67882403],
       [20.14871744],
       [ 6.3543889 ],
       [15.53389802],
       [14.19572588],
       [ 9.17748849],
       [ 7.93018473],
       [21.33599451],
       [ 8.66373356],
       [20.82787956],
       [15.35776923],
       [12.58071019],
       [17.13943204],
       [ 8.94632547],
       [11.47991534],
       [13.86882518],
       [17.41828372],
       [12.6858871 ],
       [12.32194386],
       [12.71076161],
       [23.47786397],
       [19.56382936],
       [11.32008934],
       [ 7.36235777],
       [14.6655862 ],
       [20.95102502],
       [11.22453812],
       [ 7.41769981],
       [ 4.12835831]])

In [59]:
#import required libraries for calculating MSE
from sklearn import metrics
import numpy as np

In [62]:
#calculate the mean square error (MSE)
print(np.sqrt(metrics.mean_squared_error(Y_test,Y_predict)))

1.577257722773234